<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414283444622-g3jatfgl1atj2eqn7oir8ovsl42fre2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414283444622-g3jatfgl1atj2eqn7oir8ovsl42fre2a</string>
	<key>API_KEY</key>
	<string>AIzaSyCA4E7taoDy0dUdLM8akrPd2UE20ff8VyE</string>
	<key>GCM_SENDER_ID</key>
	<string>414283444622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.interviewTask</string>
	<key>PROJECT_ID</key>
	<string>movies-list-pro</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-list-pro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414283444622:ios:ddc2dfe8bf3aad125eb4df</string>
</dict>
</plist>